<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>删除注册信息</title>
</head>

<body bgcolor="#f5f5dc">
<h1 style="text-align: center;">删除注册信息</h1>



<form action="/inputIphoneNumber/" method="post">
    <!--  文本域-->
<div style="text-align: center;margin-top: 30px">
  <p>
    <textarea name="textarea" cols="50" rows="10" placeholder="输入多个手机号，逗号隔开"></textarea>
  </p>
    <p>
     <input type="submit">
    </p>
    执行结果：{{ result }}<br>
    输入内容：{{ content }}<br>
    失败原因：{{ reason }}<br>


</div>
</form>




</body>
</html>