<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>坤元基金首页</title>
</head>

<body bgcolor="#f5f5dc">
<h1 style="text-align: center;">坤元基金自动化系统首页</h1>



<div style='text-align: center'>

</div>
<div style="text-align: center;margin-top: 30px">
    <input type="submit" name="Submit" value="删除坤元&CRM注册信息邀请关系"  onclick=window.open("/deleteSql/") style="font-size:20px;width: 400px; height: 60px;cursor:pointer">
</div>
<div style="text-align: center;margin-top: 30px">
    <input type="submit" name="Submit" value="删除form"  onclick=window.open("/deleteForm/") style="font-size:20px;width: 400px; height: 60px;cursor:pointer">
</div>
<div style="text-align: center;margin-top: 30px">
    <input type="submit" name="Submit" value="扩展2"  onclick=window.open("/cc/index/") style="font-size:20px;width: 400px; height: 60px;cursor:pointer">
</div>



</body>
</html>